numpy
pandas>=2
pyyaml
netcdf4
pypsa>=1
ipython
jupyterlab
tabula-py
xlrd
lxml
tables
pyxlsb
openpyxl
cartopy>=0.22
matplotlib>=3.6
plotly
jupyter-book
ghp-import
highspy>=1.7
numexpr>2.8.5
pre-commit
geopandas
shapely
requests
